.space {
    background-position: center;
    background-image: url("space.png");
    max-width: 50%;
    left: 25%;
    position: relative;
}

body {
    background: black;
}

.planet-area {
    overflow: hidden;
}

.planet{
    position: relative;
    left: -2%;
    bottom: -20px;
    width: 300px;
    padding-top: 64%;
    z-index: 1;
}

.rocket {
    position: absolute;
    bottom: 140px;
    left: 130px;
    width: 100px;
    height: auto;
    transform: rotate(35deg);
}

.control-panel {
    padding: 10px;
    display: flex;
    flex-direction: column;
    width: 40%;
    position: absolute;
    right: 40px;
    top: 500px;
    border-radius: 2px;
    border: 0.5rem outset dimgrey;
    background: repeating-linear-gradient(-45deg, yellow, yellow 5px, black 5px, black 10px);
}

.check-buttons {
    padding-top: 10px;
    display: flex;
    justify-content: space-around;
    padding-bottom: 50px;
}

.ranges {
    transform: rotate(-90deg);
    height: 30%;
    width: 60%;
}

.levers {
    display: flex;
    justify-content: space-between;
    padding-bottom: 50px;
}

.space .control-panel input {
    align-self: center;
    width: 15%;
}

#launch-button {
    border-radius: 50%;
    background: darkred;
    border: solid 2px white;
    color: white;
    margin-bottom: 10px;
}

#launch-button:enabled {
    background: red;
}

#password {
    margin-top: 10px;
    width: 40%;
    border: solid 2px yellow;
    margin-bottom: 10px;
}

.control-panel__inner {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: grey;
}

#ok-button {
    width: 10%;
    border-radius: 5px;
    background-color: yellow;
}